<div th:fragment="scripts">
    <!-- Vendor JS -->
    <script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/chart.js/chart.umd.js}"></script>
    <script th:src="@{/vendor/echarts/echarts.min.js}"></script>
    <script th:src="@{/vendor/quill/quill.min.js}"></script>
    <script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
    <script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/vendor/php-email-form/validate.js}"></script>
    <!-- JS -->
    <script th:src="@{/js/script.js}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script th:src="@{/js/sweetalert2.all.min.js}"></script>
    <script>
        window.addEventListener("load", function() {
            const loader = document.getElementById("loader");
            loader.style.display = "none";
        });
    </script>
    <!--
       <script>
           try {
               window.onload = function() {
                   let code = document.getElementById("status").value
                   switch (parseInt(code)){
                       case 200:
                           break;
                       case 401:
                           Swal.fire({
                               icon: 'error',
                               title: "Sesión expirada",
                               text: "Por tu seguridad tu sesión ha sido cerrada.",
                               timer: 5000,
                               showCancelButton: false,
                               showConfirmButton: false
                           })
                           setTimeout(function () {
                               window.location.replace("/login");
                           }, 5000);
                           break;
                       case 403:
                           Swal.fire({title: "Acceso denegado", text: "Lamentablemente no cuentas con los permisos necesarios para realizar esta acción", icon: "error", timer: 3000});
                           break;
                       case 500:
                           Swal.fire({title: "Error interno", text: "Un error interno ocurrió dentro del sistema", icon: "error", timer: 3000});
                           break;
                       case 400:
                           Swal.fire({title: "Error interno", text: "Un error interno ocurrió dentro del sistema", icon: "error", timer: 3000});
                           break;
                       default:
                           Swal.fire({title: "Error interno", text: "Ocurrio un error", icon: "error", timer: 3000});
                   }

               };
           }catch (e){}

       </script>
   -->
   </div>