<aside th:fragment="sidebar" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a th:classappend="${opcion}==null ? '' : 'collapsed'" class="nav-link" th:href="@{/admin/dashboard}">
                <i class="bi bi-bar-chart"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-heading">Gestión</li>

        <li class="nav-item">
            <a th:classappend="${opcion}=='sitios' ? '' : 'collapsed'" class="nav-link" th:href="@{/admin/sitios}">
                <i class="bi bi-columns-gap"></i>
                <span>Sitios</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:classappend="${opcion}=='gestores' ? '' : 'collapsed'" class="nav-link" th:href="@{/admin/listarGestores}">
                <i class="bi bi-people"></i>
                <span>Gestores</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:classappend="${opcion}=='pagos' ? '' : 'collapsed'" class="nav-link" th:href="@{/admin/costos}">
                <i class="bi bi-cash"></i>
                <span>Tipo de Pagos</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:classappend="${opcion}=='politicas' ? '' : 'collapsed'" class="nav-link" th:href="@{/admin/listarTerminosYCondiciones}">
                <i class="bi bi-file-earmark-medical"></i>
                <span>Políticas y Terminos</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:classappend="${opcion}=='listPayments' ? '' : 'collapsed'" class="nav-link" th:href="@{/admin/listPayments}">
                <i class="bi bi-cash"></i>
                <span>Resumen de pagos</span>
            </a>
        </li>
    </ul>

</aside>