<!DOCTYPE html>
<html lang="en">
<head>
    <title>SICOBO | Dashboard</title>
</head>
<head th:insert="~{layout/admin/head :: head}"></head>
<body>
<header th:insert="~{layout/admin/header :: header}"></header>
<aside th:insert="~{layout/admin/sidebar :: sidebar}"></aside>

<main id="main" class="main">
    <div id="loader">
        <div class="loader"></div>
    </div>
    <div class="pagetitle">
        <h1>Bodegas rentadas por sitio</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">
                <div class="row mb-3">
                    <div class="col-12" th:if="${message != null}">
                        <div  class="alert alert-danger alert-dismissible fade show" role="alert" >
                            <strong>[[${message.title}]]</strong> [[${message.message}]]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 text-end offset-sm-8">
                        <div class="form-floating">
                            <select id="state" name="state" class="form-select" aria-label="Floating label select example">
                                <option selected>Cualquier estado</option>
                                <option th:each="tmpCost: ${states}" th:text="${tmpCost.name}" th:value="${tmpCost.id}" th:selected="${tmpCost.id == selectOption}" ></option>
                            </select>
                            <label for="state">Estados</label>
                        </div>
                    </div>
                </div>

                <div class="row" th:if="${response != null}" >
                    <div class="col-12" th:if="${#arrays.length(response.result) == 0}">
                        <div class="alert alert-warning" role="alert">
                            No existen sitios disponibles según sus parametros.
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${response != null}" >
                    <div class="col-xxl-4 col-md-6" th:unless="${#arrays.length(response.result) == 0}" th:each="tmpSite: ${response.result}">
                        <div class="card info-card sales-card">

                            <div class="card-body">
                                <h5 class="card-title" >[[${tmpSite.site.name}]] <span th:text="${ '| ' +tmpSite.site.beanState.name}"></span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-house-door"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 th:text="${#arrays.length(tmpSite.warehouses)}"></h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
    </section>
</main>
<footer th:insert="~{layout/admin/footer :: footer}"></footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div th:insert="~{layout/admin/scripts :: scripts}"></div>
</body>

<script>
    let selectSate = document.getElementById("state");

    selectSate.addEventListener("input", function (e) {
        if(!isNaN(selectSate.value)){
            let url = "http://localhost:8080/admin/dashboard/" + selectSate.value;
            window.location.replace(url)
        }else{
            let url = "http://localhost:8080/admin/dashboard";
            window.location.replace(url)
        }
    })
</script>
</html>