<!DOCTYPE html>
<html lang="en">
<head>
  <title>SICOBO | Términos y Condiciones</title>
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<head th:insert="~{layout/admin/head :: head}"></head>
<body>
<header th:insert="~{layout/admin/header :: header}"></header>
<aside th:insert="~{layout/admin/sidebar :: sidebar}"></aside>

<main id="main" class="main">
  <div id="loader">
    <div class="loader"></div>
  </div>
  <div class="pagetitle">
    <h1>Términos y condiciones</h1>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body pt-3">
            <form method="post" th:action="@{/admin/guardarTerminosYCondiciones}" th:object="${termsAndConditions}" id="formValid">
              <div class="col">
                <div class="col-12">
                  <div th:if="${message != null}" th:classAppend="${message.code == 200 ? 'alert-success' : 'alert-danger'}" class="alert alert-dismissible fade show" role="alert" >
                    <strong>[[${message.title}]]</strong> [[${message.message}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
                <div class="col-12">
                  <label for="policies" class="form-label">Especifica los términos y condiciones a tus próximos usuarios. (no agregues carácteres que no se encuentren en la herramienta)</label>
                  <textarea th:field="*{description}" th:text="${description}" required id="policies"> </textarea>
                  <div th:unless="${#fields.hasErrors('description')}" th:text="#{policies.errorRequired}" class="invalid-feedback" id="policiesRequired"></div>
                  <div th:if="${#fields.hasErrors('description')}"  class="alert alert-danger mb-3 mt-3">
                    <div class="row">
                      <div th:errors="*{description}" class="col-9"></div>
                      <div class="col-3 text-end">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 text-end mt-3">
                  <input class="btn btn-success" type="submit" value="Guardar">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<footer th:insert="~{layout/admin/footer :: footer}"></footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div th:insert="~{layout/admin/scripts :: scripts}"></div>
<script>
  window.addEventListener('load', function() {
    let policies = document.getElementById("policies");

    tinymce.init({
      selector: '#policies',
      setup: function (editor) {
        editor.on('change', function () {
          document.getElementById("policiesRequired").style.display = "none";
          var content = editor.getContent();
          if (content.length === 0) {
            policies.setCustomValidity("Error campo vacío")
            document.getElementById("policiesRequired").style.display = "block";
            policies.classList.remove('is-valid');
            policies.classList.add('is-invalid');
          } else {
            policies.setCustomValidity("")
            policies.classList.remove('is-invalid');
            policies.classList.add('is-valid');
            document.getElementById("policiesRequired").style.display = "none";
          }
        });
      }
    });
  })

  $('#formValid').submit(function(event) {
    event.preventDefault();
    if(this.checkValidity() === true){
      Swal.fire({
        title: '¿Estás seguro de guardar los cambios?',
        showCancelButton: true,
        confirmButtonText: 'Confirmar',
      }).then((result) => {
        if (result.isConfirmed) {
          const loader = document.getElementById("loader");
          loader.style.display = "block";
          this.submit();
        }
      })
    }else{
      event.stopPropagation();
    }
  })
</script>
</body>

</html>