<!DOCTYPE html>
<html lang="en">
<head>
    <title>SICOBO | Blanco</title>
</head>
<head th:insert="~{layout/admin/head :: head}"></head>
<body>
<header th:insert="~{layout/admin/header :: header}"></header>
<aside th:insert="~{layout/admin/sidebar :: sidebar}"></aside>

<main id="main" class="main">
    <div id="loader">
        <div class="loader"></div>
    </div>
    <div class="pagetitle">
        <h1>Bodegas</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/gestor/bodegas}">Listar Bodegas</a></li>
                <li class="breadcrumb-item active">Registro</li>
            </ol>
        </nav>
    </div>
    <input th:if="${message != null}" name="status" id="status" type="hidden" th:value="${message.code}">
    <input th:unless="${message != null}" name="status" id="status" type="hidden" value="200">

    <section class="section">
        <div class="row">
            <div class="col-12">
                <div th:if="${message != null}" class="alert alert-danger alert-dismissible fade show" role="alert" >
                    <strong>[[${message.title}]]</strong> [[${message.message}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="col-12">
                <form class="row g-3 needs-validation" th:action="@{/gestor/guardarBodega}" th:object="${warehouse}" method="post" novalidate id="formValid">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Registrar Bodega</h5>

                            <div class="col-12 mb-3">
                                <label for="section" class="form-label">Sección</label>
                                <div class="form-group has-validation" >
                                    <input type="text" th:field="*{section}" id="section" class="form-control" required maxlength="100" minlength="5" pattern="^(?!\s)(?!.*\s$)[a-zA-Z0-9#%&.,áéíóúÁÉÍÓÚüÜñÑ\s]*$">
                                    <div th:unless="${#fields.hasErrors('section')}" th:text="#{registerWarehouse.section.errorRequired}" class="invalid-feedback" id="sectionRequired"></div>
                                    <div th:unless="${#fields.hasErrors('section')}" th:text="#{registerWarehouse.section.errorPattern}" class="invalid-feedback" id="sectionPattern"></div>
                                    <div th:unless="${#fields.hasErrors('section')}" th:text="#{registerWarehouse.section.errorMax}" class="invalid-feedback" id="sectionMax"></div>
                                    <div th:unless="${#fields.hasErrors('section')}" th:text="#{registerWarehouse.section.errorMin}" class="invalid-feedback" id="sectionMin"></div>
                                    <div th:if="${#fields.hasErrors('section')}" th:errors="*{section}" class="alert alert-danger mb-3 mt-3"></div>
                                </div>
                            </div>

                            <div class="col-12 mb-3">
                                <label for="description" class="form-label">Descripción</label>
                                <div class="form-group has-validation">
                                    <textarea type="text" th:field="*{description}"  class="form-control" id="description" required maxlength="255" minlength="3" pattern="^(?!\s)(?!.*\s$)[a-zA-Z0-9#%&.,áéíóúÁÉÍÓÚüÜñÑ\s]*$"/>
                                    <div th:unless="${#fields.hasErrors('description')}" th:text="#{registerWarehouse.description.errorRequired}" class="invalid-feedback" id="descriptionRequired"></div>
                                    <div th:unless="${#fields.hasErrors('description')}" th:text="#{registerWarehouse.description.errorPattern}" class="invalid-feedback" id="descriptionPattern"></div>
                                    <div th:unless="${#fields.hasErrors('description')}" th:text="#{registerWarehouse.description.errorMax}" class="invalid-feedback" id="descriptionMax"></div>
                                    <div th:unless="${#fields.hasErrors('description')}" th:text="#{registerWarehouse.description.errorMin}" class="invalid-feedback" id="descriptionMin"></div>
                                    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger mb-3 mt-3"></div>
                                </div>
                            </div>

                            <div class="col-12 mb-3">
                                <label for="warehousesType" class="form-label">Tipo de bodega</label>
                                <select class="form-select" th:field="*{warehousesType}" id="warehousesType" required onchange="mostrarCosto()">
                                    <option value="0" disabled >Selecciona una opción...</option>
                                    <option th:each="tmpWarehouseType: ${response.result}" th:value="${tmpWarehouseType.id}"
                                     th:text="${tmpWarehouseType.description}"></option>
                                </select>
                                <div th:unless="${#fields.hasErrors('warehousesType')}" th:text="#{registerWarehouse.warehousesType.errorRequired}" class="invalid-feedback" id="warehousesTypeRequired"></div>
                                <div th:if="${#fields.hasErrors('warehousesType')}" th:errors="*{warehousesType}" class="alert alert-danger mb-3 mt-3">
                            </div>
                                <div class="col-12 mb-3">
                                    <label for="section" class="form-label">Costo</label>
                                    <div class="form-group has-validation" >
                                        <input type="number" th:disabled="${warehousesType == null}" th:field="*{finalCost}" id="beanCostType" class="form-control" min="0" minlength="1" step="any" pattern="^[0-9]{1,3}(?:\.[0-9]{1,2})?$" required>
                                        <div th:unless="${#fields.hasErrors('finalCost')}" th:text="#{registerWarehouse.finalCost.errorRequired}" class="invalid-feedback" id="finalCostRequired"></div>
                                        <div th:unless="${#fields.hasErrors('finalCost')}" th:text="#{registerWarehouse.finalCost.errorPattern}" class="invalid-feedback" id="finalCostPattern"></div>
                                        <div th:unless="${#fields.hasErrors('finalCost')}" th:text="#{registerWarehouse.finalCost.errorMin}" class="invalid-feedback" id="finalCostTypeMin"></div>
                                        <div th:unless="${#fields.hasErrors('finalCost')}" th:text="#{registerWarehouse.finalCost.errorMinLength}" class="invalid-feedback" id="finalCostTypeMinLength"></div>
                                        <div th:if="${#fields.hasErrors('finalCost')}" th:errors="*{finalCost}" class="alert alert-danger mb-3 mt-3"></div>
                                    </div>
                                </div>
                                <input type="number" th:disabled="${warehousesType == null}" th:field="*{finalCost}" id="beanCostType" class="form-control" min="0" minlength="1" step="any" pattern="^[0-9]{1,3}(?:\.[0-9]{1,2})?$" required>
                    <div class="card-footer text-end">
                        <a th:href="@{/gestor/bodegas}" class="btn btn-danger mt-2 mb-2">Cancelar</a>
                        <button type="submit" class="btn btn-success mt-2 mb-2 ml-3">Guardar</button>
                    </div>
                </div>
                </form>
            </div>

        </div>
    </section>

</main>

<footer th:insert="~{layout/admin/footer :: footer}"></footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<div th:insert="~{layout/admin/scripts :: scripts}"></div>

<script th:inline="javascript">
    function mostrarCosto() {
        let warehouseTypes = [[${response.result}]]
        console.log(warehouseTypes);
        // Obtener el valor seleccionado del select
        let warehouseTypeId = document.getElementById("warehousesType").value;

        // Buscar el BeanWarehouseType correspondiente
        let warehousesType;
        for (var i = 0; i < warehouseTypes.length; i++) {
            if (warehouseTypes[i].warehousesType.id == warehouseTypeId) {
                warehousesType = warehouseTypes[i].warehousesType;
                break;
            }
        }

        // Mostrar el BeanCostType.amount en el otro input
        document.getElementById("beanCostType").value = warehouseType.beanCostType;
    }
   /* let name = document.getElementById("name");
    let address = document.getElementById("address");
    let beanState = document.getElementById("beanState");

    const hideErrorsInputName = () =>{
        document.getElementById("nameRequired").style.display = "none";
        document.getElementById("namePattern").style.display = "none";
        document.getElementById("nameMax").style.display = "none";
        document.getElementById("nameMin").style.display = "none";
    }

    const hideErrorsInputAddress = () =>{
        document.getElementById("addressRequired").style.display = "none";
        document.getElementById("addressPattern").style.display = "none";
        document.getElementById("addressMax").style.display = "none";
        document.getElementById("addressMin").style.display = "none";
    }

    const hideErrorsInputBeanState = () =>{
        document.getElementById("beanStateRequired").style.display = "none";
    }

    name.addEventListener("input", function(event) {
        hideErrorsInputName();
        if (name.validity.valueMissing) {
            document.getElementById("nameRequired").style.display = "block";
            name.classList.remove('valid');
            name.classList.add('is-invalid');
        }else if (name.validity.patternMismatch) {
            name.classList.remove('valid');
            name.classList.add('is-invalid');
            document.getElementById("namePattern").style.display = "block";
        }else  if (name.validity.tooShort) {
            name.classList.remove('valid');
            name.classList.add('is-invalid');
            document.getElementById("nameMin").style.display = "block";
        }else if (name.validity.tooShort) {
            name.classList.remove('valid');
            name.classList.add('is-invalid');
            document.getElementById("nameMin").style.display = "block";
        }else{
            name.classList.remove('is-invalid');
            name.classList.add('is-valid');
            hideErrorsInputName();
        }



    });

    name.oninvalid = function() {
        if (name.validity.valueMissing) {
            document.getElementById("nameRequired").style.display = "block";
        }else{
            document.getElementById("nameRequired").style.display = "none";
        }

        if (name.validity.patternMismatch) {
            document.getElementById("namePattern").style.display = "block";
        }else{
            document.getElementById("namePattern").style.display = "none";
        }

        if (name.validity.tooLong) {
            document.getElementById("nameMax").style.display = "block";
        }else{
            document.getElementById("nameMax").style.display = "none";
        }

        if (name.validity.tooShort) {
            document.getElementById("nameMin").style.display = "block";
        }else{
            document.getElementById("nameMin").style.display = "none";
        }

        if (name.validity.valid) {
            hideErrorsInputName();
        }

    };

    address.addEventListener("input", function(event) {
        hideErrorsInputAddress();
        if (address.validity.valueMissing) {
            document.getElementById("addressRequired").style.display = "block";
            address.classList.remove('valid');
            address.classList.add('is-invalid');
        }else if (address.validity.patternMismatch) {
            address.classList.remove('valid');
            address.classList.add('is-invalid');
            document.getElementById("addressPattern").style.display = "block";
        }else  if (address.validity.tooShort) {
            address.classList.remove('valid');
            address.classList.add('is-invalid');
            document.getElementById("addressMin").style.display = "block";
        }else if (address.validity.tooShort) {
            address.classList.remove('valid');
            address.classList.add('is-invalid');
            document.getElementById("addressMin").style.display = "block";
        }else{
            address.classList.remove('is-invalid');
            address.classList.add('is-valid');
            hideErrorsInputAddress();
        }



    });

    address.oninvalid = function() {
        if (address.validity.valueMissing) {
            document.getElementById("addressRequired").style.display = "block";
        }else{
            document.getElementById("addressRequired").style.display = "none";
        }

        if (address.validity.patternMismatch) {
            document.getElementById("addressPattern").style.display = "block";
        }else{
            document.getElementById("addressPattern").style.display = "none";
        }

        if (address.validity.tooLong) {
            document.getElementById("addressMax").style.display = "block";
        }else{
            document.getElementById("addressMax").style.display = "none";
        }

        if (address.validity.tooShort) {
            document.getElementById("addressMin").style.display = "block";
        }else{
            document.getElementById("addressMin").style.display = "none";
        }

        if (address.validity.valid) {
            hideErrorsInputAddress();
        }

    };

    beanState.addEventListener("input", function(event) {
        hideErrorsInputBeanState();
        if (beanState.validity.valueMissing) {
            document.getElementById("beanStateRequired").style.display = "block";
            beanState.classList.remove('valid');
            beanState.classList.add('is-invalid');
        }else{
            beanState.classList.remove('is-invalid');
            beanState.classList.add('is-valid');
            hideErrorsInputBeanState();
        }



    });

    beanState.oninvalid = function() {
        if (beanState.validity.valueMissing) {
            document.getElementById("beanStateRequired").style.display = "block";
        }else{
            document.getElementById("beanStateRequired").style.display = "none";
        }


        if (beanState.validity.valid) {
            hideErrorsInputBeanState();
        }

    };
*/
</script>

</body>

</html>