<!DOCTYPE html>
<html lang="en">
<head>
  <title>SICOBO | Recuperar contraseña</title>
</head>
<head th:insert="~{layout/admin/head :: head}"></head>
<div th:insert="~{layout/extras/captcha :: captcha}"></div>
<body>
<main>
  <div id="loader">
    <div class="loader"></div>
  </div>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="#" class="logo d-flex align-items-center w-auto">
                <img th:src="@{/img/favicon.png}" alt="">
                <span class="d-none d-lg-block">SICOBO</span>
              </a>
            </div>
                <div class="pt-1 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Recuperar Contraseña</h5>
                  <p class="text-center small">Ingresa tu correo electrónico</p>
                </div>
                <div class="col-12">
                  <div th:if="${message != null && message.getCode() == 400}" class="alert alert-danger alert-dismissible fade show" role="alert" >
                    <strong>[[${message.title}]]</strong> [[${message.message}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
                <div class="col-12">
                  <div th:if="${message != null && message.getCode() == 200} " class="alert alert-success alert-dismissible fade show" role="alert" >
                    <strong>[[${message.title}]]</strong> [[${message.message}]]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
                <form class="row g-3 needs-validation" th:action="@{/resetPassword}" method="post" id="myForm" novalidate>
                  <div class="col-12">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <div class="input-group has-validation">
                      <input type="email" name="email" class="form-control" id="email" required th:value="${email}">
                      <div th:text="#{register.correo.error}" class="invalid-feedback"></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" id="btnRecover" type="submit"> Recuperar Contraseña</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      <div class="mt-3" th:insert="~{layout/extras/credits :: credits}"></div>
    </section>

  </div>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div th:insert="~{layout/admin/scripts :: scripts}"></div>

</body>
</html>