<!DOCTYPE html>
<html lang="en">
<head>
  <title>SICOBO | Políticas</title>
</head>
<head th:insert="~{layout/admin/head :: head}"></head>
<body>
<main>
  <div id="loader">
    <div class="loader"></div>
  </div>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="#" class="logo d-flex align-items-center w-auto">
                <img th:src="@{/img/favicon.png}" alt="">
                <span class="d-none d-lg-block">SICOBO</span>
              </a>
            </div>

            <div class="card mb-3">

              <div class="card-body">
                <div class="row">
                  <div class="col-12 pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Términos y condiciones</h5>
                  </div>
                  <div class="col-12" th:utext="${termsAndConditions.description}">
                  </div>
                  <div class="col-12" id="contenedorSubmit">
                    <a th:href="@{/register}">
                      <button class="btn btn-primary w-100" type="button" id="botonDeSubmit">Regresar</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div th:insert="~{layout/extras/credits :: credits}"></div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div th:insert="~{layout/admin/scripts :: scripts}"></div>
</body>
</html>