<aside th:fragment="sidebar" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/bodegas}">
                <i class="bi bi-house-door-fill"></i>
                <span>Bodegas</span>
            </a>
        </li>
        <li class="nav-heading">Estados</li>
        <li class="nav-item" th:each="tmpEstado: ${states}">
            <a class="nav-link collapsed" th:href="@{${'/bodegas/'}+${tmpEstado.name}}">
                <i class="bi bi-geo-alt-fill"></i>
                <span th:text="${tmpEstado.name}"></span>
            </a>
        </li>


    </ul>

</aside>